body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-style: normal;
}
.container {
  /* border: 1px solid black; */
  width: 100%;
}
.navbar-rental {
  /* border: 1px solid black; */
  width: 100%;
  padding: 0px;
}
/* Navbar */
.navbar {
  /* border: 1px solid black; */
  padding: 0.5em 6.8em;
  position: fixed;
  width: 100%;
  z-index: 999999999;
}
.nav-link {
  margin-right: 10px;
  color: black !important;
}
.off-navbar {
  width: 50%;
}
.register {
  height: 38px;
  margin-top: 0px;
  font-weight: bold;
}

/* Main Section */
.main {
  /* border: 1px solid black; */
  width: 100%;
  padding-top: 80px;
}
.main-sect {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.box-desc {
  /* border: 1px solid black; */
  width: 45vw;
  padding-top: 50px;
  margin-left: 109px;
}
.title-usaha {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}
.desc-usaha {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  width: 35vw;
}
.button-sewa {
  align-self: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 50px;
}
.box-car {
  /* border: 1px solid black; */
  width: 45vw;
  position: relative;
  overflow: hidden;
}
.car-image {
  padding-right: 30px;
  position: relative;
  top: 15px;
  z-index: 999;
  width: 600px;
}
.background-blue {
  position: absolute;
  top: 142px;
  right: 0px;
  width: 44.2vw;
  height: 200px;
  background-color: #0d28a6;
  border-radius: 60px 0px 0px 0px;
}

/* Our Services */
/* .our {
  border: 1px solid black;
} */
.services {
  /* border: 1px solid black; */
  display: flex;
  padding-top: 105px;
}
.box-girl {
  /* border: 1px solid black; */
  margin-left: 160px;
}
.box-girl img {
  width: 459px;
  height: 428px;
}
.box-kualitas {
  /* border: 1px solid black; */
  padding-left: 60px;
  padding-top: 40px;
}
.title-services {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  width: 40vw;
  margin-bottom: 24px;
}
.desc-services {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  width: 36vw;
  margin-bottom: 16px;
}
.layanan {
  display: flex;
}
.list {
  padding-right: 16px;
}
.image-list {
  margin-bottom: 18px;
}
.keunggulan p {
  margin-bottom: 21.5px;
  font-weight: 300;
  font-size: 14px;
}

/* Why Us Section */
.why {
  /* border: 1px solid black; */
  padding-top: 60px;
}
.card-section2:hover {
  box-shadow: 0 4px 8px 0 grey;
  cursor: pointer;
}
.jempol {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  left: 8.33%;
  right: 9.66%;
  top: 8.33%;
  bottom: 8.33%;
  background: #f9cc00;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.harga-murah {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  left: 8.33%;
  right: 9.66%;
  top: 8.33%;
  bottom: 8.33%;
  background: #fa2c5a;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.clock {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  left: 8.33%;
  right: 9.66%;
  top: 8.33%;
  bottom: 8.33%;
  background: #0d28a6;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.award {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  left: 8.33%;
  right: 9.66%;
  top: 8.33%;
  bottom: 8.33%;
  background: #5cb85f;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.title-why {
  /* border: 1px solid black; */
  margin: 0.5em 6.9em;
}
.title-why h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.title-why .question {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}
.why-us {
  /* border: 1px solid black; */
  overflow: hidden;
  margin: 0.5em 6.9em;
  display: flex;
  justify-content: space-between;
}
.card-why {
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  padding: 18px;
  overflow: hidden;
  width: 245px;
  height: 210px;
}
.card-why h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-top: 23px;
}
.card-why p {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

/* Testimonial */
.testimonial {
  /* border: 2px solid black; */
  padding-top: 100px;
}
.item {
  width: 97%;
  background-color: rgba(241, 243, 255, 1);
  border-radius: 8px;
}
.card-left {
  width: 45%;
  height: 45%;
  margin: 70px 30px;
}
.card-right {
  text-align: justify;
  font-size: 12px;
  padding: 70px 50px 0 0;
}
.faq-icon {
  color: gold;
  margin-bottom: 5px;
}
.Testimonial-title {
  text-align: center;
  margin-bottom: 30px;
}
.Testimonial-title h2 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
.Testimonial-title p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

.owl-carousel .testi-body {
  display: flex;
}
/* Testimonial End */

/* Getting Started Section */
.getting {
  padding: 4em 6.8em 0em 6.8em;
}
.get {
  height: 50vh;
  border-radius: 13px;
  background-color: #0d28a6;
  color: white;
  padding-top: 60px;
  margin-bottom: 90px;
}
.get h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
}
.p-blue {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 30px;
  width: 42%;
  margin: 0 auto;
}

/* FAQ Section */
.faqs {
  padding-top: 90px;
}
.faq {
  display: flex;
  padding: 0px 108px 0px 108px;
}
.faq-title1 {
  font-size: 30px;
}
.faq-title {
  font-size: 14px;
}
.faq-isi {
  font-size: 12px;
}
.box-faq h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.box-faq p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.box-acordion {
  padding-left: 100px;
  width: 67.6%;
}
.card {
  border: 1px solid #d4d4d4;
  margin-bottom: 16px;
}

/* Footer */
.foot {
  display: flex;
  padding: 100px 107px 0px 107px;
}
.adress {
  width: 27%;
}
.fitur {
  margin-left: 60px;
}
.social-media {
  width: 27%;
  margin-left: 60px;
}
.social-media a {
  margin-right: 14px;
}
/* FOOTER */
.fb {
  float: left;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  background: #0d28a6;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 10px;
}
.fb:hover {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.copyright {
  width: 20%;
  margin-left: 60px;
}
.text-copy {
  margin-left: 40px;
}

/* CARD FILTER */
.card-text {
  /* border: 1px solid black; */
  height: 18vh;
}
.img-cars {
  width: auto;
  height: 40vh;
  padding: 15px;
  display: flex;
  justify-content: center;
}
.pilih-mobil {
  background-color: #5cb85f;
}

/* ----------------------------------------------------------- */

/* Mobile Version */
@media (max-width: 768px) {
  /* Navbar */
  /* .navbar-rental {
    border: 5px solid black;
  } */
  .navbar {
    padding: 0px;
  }
  .navbar-rental {
    /* border: 1px solid black; */
    width: 100%;
    padding: 12px;
  }
  .navigation {
    margin-top: -30px;
  }
  .register {
    width: 65%;
    height: 38px;
    margin-top: 0px;
    font-weight: bold;
  }
  /* Main Secton */
  .main {
    /* border: 1px solid black; */
    overflow: hidden;
    width: 100%;
  }
  .main-sect {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
  }
  .box-desc {
    /* border: 1px solid black; */
    width: 100%;
    padding-top: 0px;
    margin-left: 0px;
    padding-left: 12px;
  }
  .title-usaha {
    width: 85vw;
  }
  .desc-usaha {
    width: 92vw;
  }
  .button-sewa {
    margin-bottom: 24px;
  }
  .box-car {
    /* border: 1px solid black; */
    width: 100%;
    padding-left: 12px;
  }
  .car-image {
    /* border: 1px solid black; */
    position: relative;
    padding-right: 0px;
    width: 100%;
  }
  .background-blue {
    display: none;
  }

  /* Our Services */
  .our {
    width: 100%;
  }
  .services {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    padding-top: 85px;
  }
  .box-girl {
    /* border: 1px solid black; */
    margin: auto;
  }
  .box-girl img {
    width: 252px;
    height: 228px;
  }

  .box-kualitas {
    /* border: 1px solid black; */
    width: 100%;
    padding: 12px;
    padding-top: 25px;
  }
  .title-services {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    width: 100%;
    margin-bottom: 24px;
  }
  .desc-services {
    width: 92vw;
    margin-bottom: 16px;
  }

  /* Why Us Section */
  .why {
    /* border: 1px solid black; */
    padding-top: 70px;
    width: 100%;
  }
  .title-why {
    /* border: 1px solid black; */
    margin: 0px;
    text-align: center;
  }
  .why-us {
    /* border: 1px solid black; */
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .card-why {
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    padding: 28px;
    overflow: hidden;
    width: 93.5%;
    height: 200px;
    align-self: center;
  }
  .card-why p {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
  }

  /* Testimonial Section */
  .item {
    /* border: 1px solid black; */
    margin-left: -5px;
    width: 103%;
  }
  .card-left {
    width: 30%;
    margin: 30px 35%;
  }

  .card-right {
    font-size: 12px;
    padding: 0 20px 30px 20px;
  }
  .card-right i {
    color: gold;
  }
  .faq-icon {
    text-align: center;
    padding-bottom: 20px;
  }
  .owl-carousel .card-body {
    display: flex;
    flex-direction: column;
  }

  /* Getting Started Section */
  .getting {
    padding: 12px;
  }
  .get {
    height: 400px;
    background-color: #0d28a6;
    margin-top: 60px;
    padding: 58px;
  }
  .get h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .p-blue {
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
  }

  /* FAQ SEction */
  .faqs {
    /* border: 1px solid black; */
    padding-top: 80px;
  }
  .faq {
    display: flex;
    flex-direction: column;
    padding: 0px 12px 0px 12px;
  }
  .box-faq h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
  .box-faq p {
    /* border: 1px solid black; */
    font-weight: 300;
    font-size: 13.6px;
    line-height: 20px;
    text-align: center;
  }
  .box-acordion {
    /* border: 1px solid black; */
    padding-left: 0px;
    width: 100%;
  }
  .text-accord {
    font-size: 16px;
  }
  .card {
    margin-bottom: 16px;
  }

  /* Footer */
  .footer {
    margin-left: 10px;
  }
  .fac {
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }
  .foot {
    display: flex;
    flex-direction: column;
    padding: 60px 0px 0px 0px;
  }
  .fb {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background: #0d28a6;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 10px;
  }
  .adress {
    /* border: 1px solid black; */
    padding: 0px 12px;
    width: 100%;
  }
  .fitur {
    /* border: 1px solid black; */
    font-weight: 600;
    font-size: 14px;
    padding: 0px 12px;
    margin-left: 0px;
  }
  .social-media {
    /* border: 1px solid black; */
    width: 100%;
    margin-left: 0px;
    padding: 0px 12px;
  }
  .social-media a {
    display: inline;
  }
  .copyright {
    /* border: 1px solid black; */
    width: 100%;
    margin-left: 0px;
    padding: 15px 12px;
  }
  .text-copy {
    margin-left: 11px;
  }
}
